In [150]:
import pandas as pd
import numpy as np
import sqlite3
from IPython.display import display

data = {
    "Имя" : ["Анна","Иван","Ольга"],
    "Возраст" : [25, 30, 22],
    "Город" : ["Москва", "СПб", "Казань"]
}

df = pd.DataFrame(data)
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [4]:
ages = pd.Series([25, 30, 22], index=["a", "b", "c"])
cities = pd.Series(["Москва", "СПб", "Казань"], index=["a", "b", "c"])
df = pd.DataFrame({"Возраст": ages, "Город": cities})
print(df)

   Возраст   Город
a       25  Москва
b       30     СПб
c       22  Казань

In [8]:
data = [
    ["Анна", 25, "Москва"],
    ["Иван", 30, "СПб"],
    ["Ольга", 22, "Казань"]
]
df = pd.DataFrame(data, columns=["Имя", "Возраст", "Город"])
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань

In [10]:
data = [
    {"Имя": "Анна", "Возраст": 25, "Город": "Москва"},
    {"Имя": "Иван", "Возраст": 30}, # "Город" пропущен
    {"Имя": "Ольга", "Возраст": 22, "Город": "Казань"}
]
df = pd.DataFrame(data)
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     NaN
2  Ольга       22  Казань

In [14]:
data = np.array([
["Анна", 25, "Москва"],
["Иван", 30, "СПб"],
["Ольга", 22, "Казань"]
])
df = pd.DataFrame(data, columns=["Имя", "Возраст", "Город"])
print(df)

     Имя Возраст   Город
0   Анна      25  Москва
1   Иван      30     СПб
2  Ольга      22  Казань

In [18]:
df = pd.DataFrame(columns=["Имя", "Возраст", "Город"])
print(df)
df.loc[0] = ["Анна", 25, "Москва"]
df.loc[1] = ["Иван", 30, "СПб"]
print(df)

Empty DataFrame
Columns: [Имя, Возраст, Город]
Index: []
    Имя  Возраст   Город
0  Анна       25  Москва
1  Иван       30     СПб

In [35]:
import pandas as pd

# Создаём DataFrame (таблицу)
data = {
    "Имя": ["Алексей", "Мария", "Иван"],
    "Возраст": [25, 30, 22],
    "Город": ["Москва", "Санкт-Петербург", "Казань"]
}

df = pd.DataFrame(data)

# Сохраняем в CSV
df.to_csv("data.csv", index=False, encoding="utf-8")  # index=False убирает нумерацию строк
print("Файл data.csv успешно создан!")

df = pd.read_csv("data.csv", sep=";", index_col=0, na_values=["?","N/A"])
print(df.head())

Файл data.csv успешно создан!
Empty DataFrame
Columns: []
Index: [Алексей,25,Москва, Мария,30,Санкт-Петербург, Иван,22,Казань]

In [45]:
import pandas as pd

# Создаём DataFrame
data = {
    "Имя": ["Алексей", "Мария", "Иван"],
    "Возраст": [25, 30, 22],
    "Город": ["Москва", "Санкт-Петербург", "Казань"]
}

df = pd.DataFrame(data)

# Сохраняем в Excel
df.to_excel("data.xlsx", index=False, sheet_name="Люди")  # index=False убирает нумерацию строк
print("Файл data.xlsx успешно создан!")

df = pd.read_excel("data.xlsx", sheet_name="Люди")
print(df)

Файл data.xlsx успешно создан!
       Имя  Возраст            Город
0  Алексей       25           Москва
1    Мария       30  Санкт-Петербург
2     Иван       22           Казань

In [53]:
import sqlite3
import pandas as pd

# 1. Создаём и подключаемся к базе данных (файл database.db)
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

# 2. Создаём таблицу users (если её нет)
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    email TEXT UNIQUE
)
""")

# 3. Заполняем таблицу тестовыми данными
users_data = [
    (1, "Алексей", 25, "alex@mail.ru"),
    (2, "Мария", 30, "maria@mail.ru"),
    (3, "Иван", 22, "ivan@mail.ru"),
    (4, "Ольга", 28, "olga@mail.ru")
]

# Добавляем данные (игнорируем дубликаты из-за UNIQUE)
cursor.executemany("""
INSERT OR IGNORE INTO users (id, name, age, email) 
VALUES (?, ?, ?, ?)
""", users_data)

# Сохраняем изменения
conn.commit()

# 4. Читаем данные с помощью Pandas
query = "SELECT * FROM users"
df = pd.read_sql(query, conn)

# 5. Закрываем соединение
conn.close()

# 6. Выводим результат
print("Данные из таблицы users:")
print(df)

Данные из таблицы users:
   id     name  age          email
0   1  Алексей   25   alex@mail.ru
1   2    Мария   30  maria@mail.ru
2   3     Иван   22   ivan@mail.ru
3   4    Ольга   28   olga@mail.ru

In [56]:
import json
import pandas as pd

# 1. Создаём тестовые данные (список словарей)
users_data = [
    {"id": 1, "name": "Алексей", "age": 25, "email": "alex@mail.ru"},
    {"id": 2, "name": "Мария", "age": 30, "email": "maria@mail.ru"},
    {"id": 3, "name": "Иван", "age": 22, "email": "ivan@mail.ru"},
    {"id": 4, "name": "Ольга", "age": 28, "email": "olga@mail.ru"}
]

# 2. Сохраняем данные в JSON-файл
with open("data.json", "w", encoding="utf-8") as file:
    json.dump(users_data, file, ensure_ascii=False, indent=4)  # indent для красивого форматирования

print("Файл data.json успешно создан!")

# 3. Читаем JSON-файл в DataFrame
df = pd.read_json("data.json")

# 4. Выводим результат
print("\nДанные из data.json:")
print(df)

Файл data.json успешно создан!

Данные из data.json:
   id     name  age          email
0   1  Алексей   25   alex@mail.ru
1   2    Мария   30  maria@mail.ru
2   3     Иван   22   ivan@mail.ru
3   4    Ольга   28   olga@mail.ru

In [59]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

# 1. Создаём тестовые данные
data = {
    "id": [1, 2, 3, 4],
    "name": ["Алексей", "Мария", "Иван", "Ольга"],
    "age": [25, 30, 22, 28],
    "email": ["alex@mail.ru", "maria@mail.ru", "ivan@mail.ru", "olga@mail.ru"]
}

# 2. Создаём DataFrame
df = pd.DataFrame(data)

# 3. Сохраняем в Parquet (вариант 1 - через pyarrow)
table = pa.Table.from_pandas(df)
pq.write_table(table, 'data.parquet')

print("Файл data.parquet успешно создан!")

# 4. Читаем Parquet-файл
parquet_df = pd.read_parquet('data.parquet')

# 5. Выводим результат
print("\nДанные из data.parquet:")
print(parquet_df)

Файл data.parquet успешно создан!

Данные из data.parquet:
   id     name  age          email
0   1  Алексей   25   alex@mail.ru
1   2    Мария   30  maria@mail.ru
2   3     Иван   22   ivan@mail.ru
3   4    Ольга   28   olga@mail.ru

In [68]:
import pandas as pd
# Создадим небольшой DataFrame
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария", "Сергей"],
"Возраст": [25, 30, 22, 40, 35, 28],
"Город": ["Москва", "СПб", "Казань", "Новосибирск",
"Екатеринбург", "Сочи"]
}
df = pd.DataFrame(data)
# Выведем первые 3 строки
print(df.head(3))

# Выведем последние 3 строки
print(df.tail(3))

print(df.info())

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань
      Имя  Возраст         Город
3    Петр       40   Новосибирск
4   Мария       35  Екатеринбург
5  Сергей       28          Сочи
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Имя      6 non-null      object
 1   Возраст  6 non-null      int64
 2   Город    6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes
None

In [82]:
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр"],
"Возраст": [25, 30, 22, 40],
"Город": ["Москва", "СПб", "Казань", "Новосибирск"]
}
df = pd.DataFrame(data, index=["a", "b", "c", "d"])
print(df)
print(df.loc["b"])
print(df.loc["c", "Город"])

print(df.iloc[1])
print(df.iloc[1:3])

print(df.at["c", "Город"])
print(df.iat[2, 2])

     Имя  Возраст        Город
a   Анна       25       Москва
b   Иван       30          СПб
c  Ольга       22       Казань
d   Петр       40  Новосибирск
Имя        Иван
Возраст      30
Город       СПб
Name: b, dtype: object
Казань
Имя        Иван
Возраст      30
Город       СПб
Name: b, dtype: object
     Имя  Возраст   Город
b   Иван       30     СПб
c  Ольга       22  Казань
Казань
Казань

In [96]:
data = {
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22]
}
print(pd.DataFrame(data))
df = pd.DataFrame(data)
df["Город"] = ["Москва", "СПб", "Казань"] # Добавляем новый столбец
print(df)

df["Категория возраста"] = df["Возраст"].apply(lambda x: "Молодой" if
x < 30 else "Взрослый")
print(df)

df.loc[3] = ["Петр", 40, "Новосибирск", "Россия"]
print(df)

new_data = pd.DataFrame([{"Имя": "Алексей", "Возраст": 29, "Город":
"Томск", "Страна": "Россия"}])
df = pd.concat([df, new_data], ignore_index=True)
print(df)

     Имя  Возраст
0   Анна       25
1   Иван       30
2  Ольга       22
     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань
     Имя  Возраст   Город Категория возраста
0   Анна       25  Москва            Молодой
1   Иван       30     СПб           Взрослый
2  Ольга       22  Казань            Молодой
     Имя  Возраст        Город Категория возраста
0   Анна       25       Москва            Молодой
1   Иван       30          СПб           Взрослый
2  Ольга       22       Казань            Молодой
3   Петр       40  Новосибирск             Россия
       Имя  Возраст        Город Категория возраста  Страна
0     Анна       25       Москва            Молодой     NaN
1     Иван       30          СПб           Взрослый     NaN
2    Ольга       22       Казань            Молодой     NaN
3     Петр       40  Новосибирск             Россия     NaN
4  Алексей       29        Томск                NaN  Россия

In [104]:
new_rows = pd.DataFrame([
    {"Имя": "Дмитрий", "Возраст": 31, "Город": "Самара", "Страна":
"Россия"},
{"Имя": "Елена", "Возраст": 27, "Город": "Воронеж", "Страна":
"Россия"}
])
df = pd.concat([df, new_rows], ignore_index=True)
print(df)

        Имя  Возраст        Город Категория возраста  Страна
0      Анна       25       Москва            Молодой     NaN
1      Иван       30          СПб           Взрослый     NaN
2     Ольга       22       Казань            Молодой     NaN
3      Петр       40  Новосибирск             Россия     NaN
4   Алексей       29        Томск                NaN  Россия
5   Дмитрий       31       Самара                NaN  Россия
6     Елена       27      Воронеж                NaN  Россия
7   Дмитрий       31       Самара                NaN  Россия
8     Елена       27      Воронеж                NaN  Россия
9   Дмитрий       31       Самара                NaN  Россия
10    Елена       27      Воронеж                NaN  Россия

In [108]:
data = {
"Имя": ["Анна", "Иван", "Ольга"],
"Возраст": [25, 30, 22],
"Город": ["Москва", "СПб", "Казань"],
"Зарплата": [50000, 60000, 45000]
}
df = pd.DataFrame(data)
# Удаляем столбец "Зарплата"
df = df.drop(columns=["Зарплата"])
print(df)

df = df.drop(index=1)
print(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань
     Имя  Возраст   Город
0   Анна       25  Москва
2  Ольга       22  Казань

In [110]:
df = pd.DataFrame({
"Имя": ["Анна", "Иван", "Анна", "Ольга"],
"Возраст": [25, 30, 25, 22]
})
df = df.drop_duplicates()
print(df)

     Имя  Возраст
0   Анна       25
1   Иван       30
3  Ольга       22

In [120]:
print("Фильтрация")
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария"],
"Возраст": [25, 30, 22, 40, 35],
"Город": ["Москва", "СПб", "Казань", "Новосибирск", "СПб"],
"Зарплата": [50000, 60000, 45000, 70000, 65000]
}
df = pd.DataFrame(data)
print(df)

df_filtered = df.query("Возраст > 30")
print(df_filtered)

df_filtered = df.query("Город == 'СПб' and Зарплата > 60000")
print(df_filtered)

Фильтрация
     Имя  Возраст        Город  Зарплата
0   Анна       25       Москва     50000
1   Иван       30          СПб     60000
2  Ольга       22       Казань     45000
3   Петр       40  Новосибирск     70000
4  Мария       35          СПб     65000
     Имя  Возраст        Город  Зарплата
3   Петр       40  Новосибирск     70000
4  Мария       35          СПб     65000
     Имя  Возраст Город  Зарплата
4  Мария       35   СПб     65000

In [126]:
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария"],
"Возраст": [25, 30, 22, 40, 35],
"Город": ["Москва", "СПб", "Казань", "Новосибирск", "СПб"],
"Зарплата": [50000, 60000, 45000, 70000, 65000]
}
df = pd.DataFrame(data)
print(df)

df_filtered = df[~df["Город"].isin(["Москва", "СПб"])]
print(df_filtered)

df_filtered = df[df["Возраст"].between(25, 35)]
print(df_filtered)

     Имя  Возраст        Город  Зарплата
0   Анна       25       Москва     50000
1   Иван       30          СПб     60000
2  Ольга       22       Казань     45000
3   Петр       40  Новосибирск     70000
4  Мария       35          СПб     65000
     Имя  Возраст        Город  Зарплата
2  Ольга       22       Казань     45000
3   Петр       40  Новосибирск     70000
     Имя  Возраст   Город  Зарплата
0   Анна       25  Москва     50000
1   Иван       30     СПб     60000
4  Мария       35     СПб     65000

In [136]:
data = {
    "Имя": ["Анна", "Иван", "Ольга", "Петр", None],
    "Возраст": [25, 30, 22, None, 35],
    "Город": ["Москва", "СПб", "Казань", "Новосибирск", "СПб"]
}
df = pd.DataFrame(data)
print(df.count())

print(df["Город"].value_counts())

print(df["Имя"].value_counts(dropna=False))

print(df.nunique())

print(df["Имя"].nunique(dropna=False))

Имя        4
Возраст    4
Город      5
dtype: int64
Город
СПб            2
Москва         1
Казань         1
Новосибирск    1
Name: count, dtype: int64
Имя
Анна     1
Иван     1
Ольга    1
Петр     1
None     1
Name: count, dtype: int64
Имя        4
Возраст    4
Город      4
dtype: int64
5

In [140]:
data = {
"Имя": ["Анна", "Иван", "Ольга", "Петр", "Мария"],
"Возраст": [25, 30, 22, 40, 35],
"Зарплата": [50000, 60000, 45000, 70000, 65000]
}
df = pd.DataFrame(data)
print(df)

df_sorted = df.sort_values(by="Возраст")
print(df_sorted)

     Имя  Возраст  Зарплата
0   Анна       25     50000
1   Иван       30     60000
2  Ольга       22     45000
3   Петр       40     70000
4  Мария       35     65000
     Имя  Возраст  Зарплата
2  Ольга       22     45000
0   Анна       25     50000
1   Иван       30     60000
4  Мария       35     65000
3   Петр       40     70000

In [142]:
df_sorted = df.sort_values(by="Возраст", ascending=False)
print(df_sorted)

     Имя  Возраст  Зарплата
3   Петр       40     70000
4  Мария       35     65000
1   Иван       30     60000
0   Анна       25     50000
2  Ольга       22     45000

In [144]:
df_sorted = df.sort_values(by=["Возраст", "Зарплата"], ascending=
[True, False])
print(df_sorted)

     Имя  Возраст  Зарплата
2  Ольга       22     45000
0   Анна       25     50000
1   Иван       30     60000
4  Мария       35     65000
3   Петр       40     70000

In [146]:
df_sorted = df.sort_index()
print(df_sorted)

     Имя  Возраст  Зарплата
0   Анна       25     50000
1   Иван       30     60000
2  Ольга       22     45000
3   Петр       40     70000
4  Мария       35     65000

In [148]:
df_sorted = df.sort_index(ascending=False)
print(df_sorted)

     Имя  Возраст  Зарплата
4  Мария       35     65000
3   Петр       40     70000
2  Ольга       22     45000
1   Иван       30     60000
0   Анна       25     50000

In [152]:
display(df)

     Имя  Возраст   Город
0   Анна       25  Москва
1   Иван       30     СПб
2  Ольга       22  Казань